
body{
	background: linear-gradient(90deg, #4c065a,#7c0a76);

}
*{
	margin:0;
	padding:0;
	color: rgb(255, 255, 255);
	
	font-family:'Arial';
	}
	
.menu{
	width:100%;
	height:50px;
	background-color: rgb(34, 12, 43);
	}
	
.menu>ul{
	list-style:none;	
	position:relative;
	margin-left:50px;
	}
.menu ul li{
		width:150px;
		float:left;
	}

.menu a{
	padding:15px;
	display:block;
    
	text-decoration: none;
	background-color: rgb(34, 12, 43);
	text-align:center;
	}
.menu ul ul{
	list-style:none;
	position:absolute;
	visibility:hidden;
	
	}
.menu ul li:hover ul{
	visibility:visible;
	}
	
.menu a:hover{
	background-color:rgb(105, 18, 84);
	}

.menu ul ul li{
	float:none;
	border-bottom: solid 1px rgb(255, 255, 255);
	}
.menu ul ul li a{
	background-color:rgb(150, 29, 130);
	}
#bt_menu{
	display: none;
	}
label[for='bt_menu']{
	padding:5px;
	background-color:rgb(34, 12, 43);
	color:rgb(105, 18, 84);
	font-family:'Arial';
	text-align:center;
	font-size:30px;
	cursor:pointer;
	display:none;
	width:50px;
	height:50px;
	}	
label[for='bt_menu']:hover{
	background-color:rgb(150, 29, 130);
	color:rgb(34, 12, 43);
	}
@media (max-width: 800px) {
.menu{
	margin-left:-100%;
	transition:all .4s;
	}
label[for='bt_menu']{
	display:block;
	}
.menu>ul{
	margin-left:0;
	}
.menu{
	margin-top:5px;
	}
.menu ul li{
	width:100%;
	float:none;
	}
.menu ul ul{
	position:static;
	overflow:hidden;
	max-height:0;
	transition:all .4s;
	}
.menu ul li:hover ul{
	height:auto;
	max-height:200px;
	transition:all .4s;
	}
#bt_menu:checked ~ .menu{
	margin-left:0;
	}

    
}

.h3{ 

color: rgb(248, 137, 1);



}